body {
  background-color: lightcyan;
}
.header {
  font-size: 64px;
  color: orange;
  text-align: center;
}
.location {
  align-content: center;
}
.loading {
  display: block;
  text-align: center;
  font-size: 20px;
}
